.be-modal confirm-modal {
  display: block;
  max-width: 500px;

  > .modal-header {
    margin-bottom: 10px;
  }

  > .mat-dialog-contents {
    > .bold {
      font-weight: 500;
    }

    > p {
      font-size: 1.5rem;
    }
  }
}