@import "../../../scss/variables";

login {
  display: block;

  .auth-page {
    .remember-and-login-row {
      display: flex;

      > .remember-me-checkbox {
        flex: 1 1 auto;
        padding-top: 8px;
      }

      > .login-button {
        flex: 1 1 auto;
        text-align: right;
      }
    }

    .info-row {
      margin: 35px 0;
      text-align: center;

      > span {
        margin-right: 5px;
      }
    }

    .social-icons {
      text-align: center;
    }
  }
}

