@import "../../../scss/variables";

forgot-password {
  display: block;

  > .auth-page {
    > .auth-panel {
      width: 800px;

      > .page-header {
        text-align: center;

        > .big-text {
          font-size: 2rem;
          margin-bottom: 5px;
        }

        > .small-text {
          font-size: 1.5rem;
          margin-bottom: 30px;
        }
      }

      .back-and-reset-row {
        text-align: right;
        margin-top: 20px;
      }
    }
  }
}