@import "../../../../scss/variables";

folders-tree {
  display: none;
  color: $drive-text-color;
  
  &.expanded {
    display: block;
  }

  &.has-root-node .mat-tree-node:not(.root-tree-node) {
    padding-left: 16px;
  }

  .mat-tree {
    .folder-icon {
      margin-right: 5px;
      color: $icon-color-dark;
    }

    .folder-button {
      display: flex;
      align-items: center;
      color: inherit;
      width: 100%;
      min-height: inherit;
      line-height: inherit;
    }

    .folder-icon {
      flex: 0 0 24px;
    }

    .folder-name {
      padding-top: 2.5px;
    }
  }

  .mat-tree-node {
    padding-right: 24px;
    white-space: nowrap;
    color: inherit;
    background-color: $site-bg-color-200;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    //set hover color only when not active and not dragging over it
    &:not(.active):not(.drag-over) {
      &:hover {
        background-color: $site-bg-color-300;
      }
    }

    &.active {
      color: $site-primary-color-100;
      background-color: $site-selected-item-bg-color;

      .folder-icon {
        color: inherit;
      }

      .text {
        font-weight: 500;
      }
    }
  }

  .root-tree-node {
    padding-left: 12px;
    cursor: pointer;

    .mat-icon {
      margin-right: 6px;
    }
  }
}