@import "../../../scss/variables";

crupdate-role-modal {
  display: block;

  .setting-container {
    margin-bottom: 25px;

    > p {
      color: $site-text-color-300;
      margin: 5px 0;
    }
  }
}