@import "../../scss/variables";

roles {
  display: block;

  .spacing-container {
    padding: 25px;
    display: flex;
  }

  .new-role {
    border-bottom: 1px solid $site-border-color-200;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  data-table {
    flex: 1 1 auto;
  }
}