@import "../../scss/variables";

ads-page {
  display: block;
  width: 100%;
  padding: 25px;

  .panel {
    border: $admin-card-border;
    box-shadow: $admin-card-box-shadow;
    border-radius: 4px;
    background-color: $admin-table-background-color;

    > .header {
      background-color: $site-bg-color-200;
      border: 1px solid $site-border-color-100;
      padding: 15px;
      margin-bottom: 15px;
      font-weight: 500;
      color: #555;
    }

    > .input-container {
      margin-right: 15px;
      margin-left: 15px;

      > textarea {
        max-width: 750px;
        height: 150px;
      }
    }

    > .setting-toggle-container {
      margin-left: 15px;
    }

    > .save-button {
      margin: 0 0 30px 15px;
    }
  }
}